<!DOCTYPE html>
<html lang = "en">
<!--add {% now "U" %} so that the css cache is ignored-->
{% load static %}<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}?{% now 'U' %}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block js %}
<script src="{% static 'blog/csrf.js' %}"></script>
{% endblock %}
<head>
    <meta charset = "utf-8">
    <title> My Blog - {% block page_title %}An awesome blog{% endblock %}</title>
</head>

<body>
    {% if messages %}
    <div class="django-messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="wrapper">
        <header id = "site-header">
            <h1>Messagely</h1>
            <p>A place to share your moments</p>
        </header>

        <nav id = "top-nav">
                <a href = "{% url 'home' %}">Home</a>
                <a href = "{% url 'about' %}">About</a>
                <a href = "{% url 'post-list' %}">Posts</a>
                <a href = "{% url 'topic-list' %}">Topics</a>
                <a href = "{% url 'contest' %}">Photo Contest</a>
                <a href = "{% url 'contact' %}">Contacts</a>
        </nav>
        <hr>

        <main id = "main-content">
            {% block main %}
            {% endblock %}
        </main>

        <section class = "sidebar">
            <section class = "topics">
                <h2>Popular Topics</h2>
                <ul>
                    {% for topicName in topics_base %}
                    <li><a href = "/topics/{{topicName.name|lower}}/">{{ topicName.name }} ({{topicName.total_posts}})</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        
        
            <section id="author-list">
                <h3>Authors</h3>
                <ul>
                {% for author in authors %}
                    <li>{{ author.get_full_name }}</li>
                {% endfor %}
                </ul>
            </section>
        </section>
        <footer id = "site-footer">
            <br>
            Copyright &copy;{% now 'Y' %}
            <a href="{% url 'terms-and-conditions' %}">Terms & conditions</a>
        </footer>
        <a href = "{% url 'add-post' %}">
            <img class = "plus" src="{% static 'blog/plus.png' %}" alt="plus">
        </a>
    </div>
</body>
</html>
<!--how to add image : <img src="{% static "blog/logo.png" %}" alt="Logo">-->