{% extends "blog/base.html" %}

{% block page_title %}Contest{% endblock %}


{% block main %}
<h2>Photo Contest</h2>
<p>Hi! If you're here to participate in the Photo Contest, you're in the right place! Just fill in the form below, which includes
  you full name, email, and photo. The results of the contest will be public in 100 years!
</p>

<form method="post" enctype="multipart/form-data" style = 'max-width: 200px;line-height: 30px; vertical-align:middle'>
  {% csrf_token %}
  {{ form.as_table }}
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
{% endblock %}