{% extends "blog/base.html" %}

{% block page_title %}Post{% endblock %}


{% block main %}
<h2>Post</h2>
<form method="post" enctype="multipart/form-data" style = 'max-width: 600px;line-height: 30px; vertical-align:middle'>
  {% csrf_token %}
  Author: <br>
  {{form.author}}
  <br>
  Title: <br>
  {{form.title}}
  <br>
  Slug: <br>
  {{form.slug}}
  <br>
  Published: (YYYY-MM-DD)<br>
  {{form.published}} 
  <br>
  Status: <br>
  {{form.status}}
  <br>
  Content: <br>
  {{form.content}}
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
{% endblock %}